html {
    -webkit-text-size-adjust: none;
    height: 100%;
    scroll-behavior: smooth;
    body {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        margin: 0;
        padding: 0;
        border: 0;
        height: 100%;
        vertical-align: baseline;
        text-decoration: none;
        outline: none;
        -webkit-font-smoothing: subpixel-antialiased;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        #root {
            height: 100%;
        }
        .container {
            max-width: 1140px;
            margin: 0 auto;
            padding: 0px 20px;
            a {
                display: inline-block;
            }
            button, input[type="submit"] {
                color: #59873E;
                padding: 15px 25px;
                border: 1px solid #59873E;
                text-decoration: none;
                transition: 0.3s all ease-in-out;
                cursor: pointer;
                margin: 0 0 1em 0;
            }
            button:hover, input[type="submit"]:hover {
                color: white;
                background-color: #59873E;
            }
            input[type="text"], input[type="text"]:focus-visible, input[type="textarea"], input[type="textarea"]:focus-visible, input[type="number"], input[type="number"]:focus-visible, input[type="file"] {
                width: 100%;
                max-width: -webkit-fill-available;
                margin-bottom: 10px;
                border: 2px solid #59873E;
                padding: 20px;
                border-radius: 5px;
                outline: none;
                @media screen and (max-width: 767px) {
                    display: inline-block;
                }
            }
            input[type="file"] {
                border: none;
                padding: 20px 0px;
            }
        }
    }
}